body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.realtime-face {
  border: 1px solid #666;
  width: 200px;
  height: 200px;
  margin: 5px auto;
}

.prev-face {
  display: none;
}

.login-card, .home {
  margin-top: 200px;
  text-align: center;
}
