<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>WebCam</title>

  <script src="/js/socket.io.js"></script>
  <script src="/js/jquery-2.2.1.min.js"></script>
  <script src="/js/jquery-3.1.1.slim.min.js"></script>
  <script src="/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="jumbotron home" style="width: 25rem;">
        {% if not current_user.id %}
        <div class="text-center">
          <a href="/login" class="btn btn-primary">Please Login</a>
        </div>
        {% else %}
          <h1 class="display-3 text-center">Hello, world!</h1>
          <h3>Welcome {{current_user.name}}</h3>
          <div class="mt-5">
            <a href="/logout">Logout</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</body>
</html>
